.maindiv{
   height: auto;
   width: 36.8rem;
   margin-top: 1rem;
 
   display: flex;
   flex-direction: column;
   /*padding-top: 1rem;*/
  align-items: center;
  justify-content: flex-start;
  /* position: relative; */
  /* border:1px solid red; */
   
 }
 .Top{

   margin-left:-5rem
 }
 .container{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap:1rem;

   
 }
 .namecss{
 display:flex;
 /* margin-left:-5rem; */
 margin-top: -3rem;
 align-items: center;
 gap:rem;
 /* border:2px solid red; */
 }
 .para{
   display: flex;
   margin-left: 4rem;
   text-align: justify;
   width:30rem;
   font-weight: 600;
   margin-right: 1.5rem;
 }
 .paraorg{
   display: flex;
   margin-left: 4rem;
   text-align: justify;
   width:30rem;
   margin-right: 1.5rem;
 }
 .picdiv{
   height:18rem;
   width:31rem;
   border-radius: 12px;
   margin-left:3rem;
 }
 .btns{
   height: 3rem;
   width: 3rem;
   border: none;
   background: white;
}
.btns:focus{
 
}
img{
   height: 16rem;
   
} 
.btnTweet{

   background-color:   #00acee;
   border: white;
   color: white;
   border-radius: 20px;
   font-size: larger;

}
.ForTweet{
   width: 35rem;
   overflow-x: hidden;
   height: 10rem;
   outline: none;
   border: none;
  
}
.profile{
   /* display: flex;
    */
   height: 3rem;
   width: 3rem;
   /* margin-right:30rem; */
   border-radius: 100%;
   /* border:1px solid red; */
   /* margin-left: -9rem; */
}
.socialbtn{
   display: flex;
   gap:2rem;
   /* margin-bottom: -12rem; */
}
.mainDiv{
   height: 11rem;

}
.Photo1{
   height: 3rem;
   width: 3rem;
   border-radius: 100%;
   margin-top: 0.3rem;
   margin-left: 1rem;
}
.Icons{
   color:#1D9BFD;
   margin-left: 4rem;
   display: flex;
gap: 2rem;
}
.inputs{
   width: 32.5rem;
   height: 5rem;
margin-left: 5rem;
margin-top: -2rem;
border: none;
outline: none;
overflow:hidden;
/* visibility: hidden; */
}
.inputs::placeholder{
   font-size: 20px;
   font-weight: 500;

}
.BTN{
   display:flex;
   align-items: flex-end;
   
   justify-content: end;
}
.btn{
 margin-top:-2rem;
 height: 2rem;
 width: 4.5rem;
 border-radius: 25px;
 background-color: #1D9BFD;
 border: none;
 color: white;
 font-weight: 600;
}
/* .avatar{
   z-index: -1;
} */