.homeDiv{
    display:flex;
    flex-direction: row;
    
    height: 44.5rem;
    position: sticky;
}

.leftDiv{
display: flex;
flex-direction: row;
position: sticky;
;
}
.midDiv{
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}
.rightDiv{
    /* display: flex; */
    /* flex-direction: row; */
    position: sticky;
}

.midDiv::-webkit-scrollbar{
    width: 0;
}
