/* .homeDiv{
    display:flex;
    flex-direction: row;
    
    height: 44.5rem;
    position: sticky;
}

.leftDiv{
display: flex;
flex-direction: row;
position: sticky;
}
.midDiv{
    display: flex;
    flex-direction: row;
}
.rightDiv{
    display: flex;
    flex-direction: row;
    position: sticky;
} */
.Main{
    width: 100%; 
    display: flex;
}
.container{
    /* width: 26%;
    height:100%; */
    height:44rem;
   
    display: flex;
    flex-direction: row;
    position: sticky;
}

.middleContainer{
    /* width: 50%; */
    overflow:scroll;
width: 38.2rem;
height: 50rem;
}
.middleContainer::-webkit-scrollbar {
    display: none;
  }
.rightContainer{
    width:34%;
    height: 100%;
}
.main::-webkit-scrollbar{
    display: none;
}
.minLeft{
    display: none;
}
@media screen and (max-width:660px) {
    .container{
        display: none;
    }
    .rightContainer{
        display: none;
    }
    .minLeft{
        display: block;
    }
}
 @media screen and (max-width:1280px) {
    .container{
        display: none;
    }
    .minLeft{
        display: block;
    }
   
}
@media screen and (max-width:499px) {
    .container{
        display: none;
    }
  
    .minLeft{
        display: none;
    }
}
@media screen and (max-width:1260px){
    .container{
        display: none;
    }
    .minLeft{
        display: block;
    }
}