.homeDiv{
    display:flex;
    flex-direction: row;
    
    height: 44.5rem;
 
    position: sticky;
}

.leftDiv{
display: flex;
flex-direction: row;
position: sticky;
}
.midDiv{
    display: flex;
    flex-direction: row;
}
.rrightDiv{
    display: flex;
    flex-direction: row;
    position: sticky;
}
.minLeft{
    display: none;
}
.downDiv{
    display: none;
  }
/* @media screen and (max-width:660px) {
    .minLeft{
        display:block ;
    }
    .leftDiv{
        display: none;
    }
    .rightDiv{
        display: none;
    }

    .minLeft{
        display: block;
    }
    div{
        font-size: 12px;
    }
    .downDiv{
        display: none;
      }
} */


@media screen and (max-width:1280px){
    .leftDiv{
        display: none;
    }
    .minLeft{
        display: block;
        width: 8rem;
        display: flex;
        
    }
.rightDiv{
    display: block;
}
.downDiv{
    display: none;
  }
}

@media screen and (max-width:1006px){
    .rightDiv{
        display: none;
    }
    .downDiv{
        display: none;
      }
}

@media screen and (max-width:480px){
    .minLeft{
        display: none;
    }
  .downDiv{
    display: block;
    z-index: 9;
    position: absolute;
    top: 98%;
    background-color:white;
 width:37rem;
    height: 4rem;
   }

  

}