.wrapper{
    color:black;
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    border: 1px solid rgb(223, 223, 251);
    gap: 1rem;
    font-weight: 600;
   padding: 2rem;
  }
  .textcontaint{
    margin-top: -3rem;
   
  }
  .container1{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    gap: 1rem;
  }
  .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#606060;
  }
  .img{
  padding-left: 4rem;
  
  }
  .btns{
    color:black;
  }
  .avatar{
    z-index: -1;
  }
  /* .wrapper{
    border: 1px black solid;
    height:35rem;
    }
    
    .feed__header {
     
        top: 0;
        backdrop-filter: blur(12px);
        z-index: 10;
        display: flex;
        gap: 1.5rem;
        border-bottom: 0.5px solid var(--twitter-background);
        padding: 0.93rem 1.25rem;
        position: sticky;
        height: 2rem;
      }
      
      .feed__header span {
        font-size: 1.25rem;
        font-weight: 700;
        color:black;
        
      }
     
      .innercontainer h2:hover{
        background-color:#fff;
    }
    .dta{
      display: flex;
      flex-direction: column;
    }
    .container{
      width:100%;
        height: 13rem;
    }
    .Avatarsection{
        display: flex;
        gap: 20rem;
    }
    .img{
       width: 8rem;
       height: 8rem;
       border-radius: 100%;
       justify-content: flex-start;
       border: 5px black solid;
       margin-top: -5rem;
       margin-left: 2rem;
    }
    .btn{
        width: 7.225rem;
        height: 2.25rem;
        border-radius: 25px;
      font-size: 0.8rem;
      border: 1rem ;
      background:none;
      color:black;
      border: 1px black solid;
      margin-top: .5rem;
      margin-right: 1rem;
    }
    .textcontaint{
      display: flex;
      flex-direction: column;  
      color:black;
      margin-left: 1.5rem;
      margin-top: 1rem;
      /* border: 0.5px solid black; 
    }
    .name{
      font-size: 20px;
      font-weight: 800;
    }
    .follow{
      margin-top: 1rem;
      display: flex;
      gap:1rem;
    }
    .join{
      margin-top: 1rem;
      display: flex;
      text-align: center;
    }
    .heading{
      display: flex;
      justify-content: space-around; 
      margin-top: 3.4rem;
      font-size: 15px;
      color:#536471;
      font-weight: 500;
    } */