.mainDiv{
    border: 1px solid lightgrey;
    width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  

}
.popdiv{
  margin-left: 8rem;
  margin-bottom: .7rem;
}
.btnDiv{
 
  height: 100%; 
  margin-left: 8rem;
  display: flex;
  flex-direction: column;
  gap:.5rem;
  /* justify-content: space-between;  */
}
.btnT{
    width: 15rem;
    height: 3rem;
    border-radius: 25px;
    background-color:   #00acee;
    border: white;
    color: white;
    font-size: larger;
}
.btnI{
    width: 15rem;
    height: 3rem;
    border-radius: 25px;
    font-size: larger;
    border: white;  
    margin-bottom: 2rem;
}
.btnI:hover{
cursor: pointer;
background-color:lightgray;
}
.btnT:hover{
    cursor: pointer;
    background-color: rgb(69, 199, 206);
   
    }
.icons{
  background-color: white;
  border: 2px solid white;  
  border-radius: 25px;
  /* font-size:large; */
 height: 3rem;
 color: #0F1419;
 text-decoration: none;
 display: flex;
 padding: 7px;
 /* text-align:center; */
 align-items: center;
 justify-content: center;
 font-size: 20px;
}
.icons:link{
    color:none;
    text-decoration: none;
}
.icons:hover{
    background-color: lightgray;
    cursor: pointer;
}

.photo{
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
}
.BigPhoto{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    padding: 1rem;
}
.ForTweet{
    width: 35rem;
    overflow-x: hidden;
    height: 10rem;
    outline: none;
    border: none;
   
}
.Photo1{
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    margin-top: 0.5rem;
    margin-left: 1rem;
 }
.btnTweet{

    background-color:   #00acee;
    border: white;
    color: white;
    border-radius: 20px;
    font-size: larger;

}

.Icons{
    color:#1D9BFD;
    margin-left: 4rem;
    display: flex;
 gap: 2rem;
 }
